---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main class="">
      <section class="mx-auto my-auto w-1/2 p-4 text-center border">
        <h1 class="text-2xl">Finite Timespace</h1>
        <p>
          Your partner in helping fast-growing companies solve business
          challenges through delivering software.
        </p>
        <br />
      </section>

      <section
        class="mx-auto w-1/2 p-4 flex flex-col md:flex-row justify-between mt-[96px]"
      >
        <ul class="text-left">
          <li><a href="/contact-us/">Contact Form link</a></li>
          <li>Calls: +351 914 176 371</li>
          <li>
            Email: <a href="mailto:hi@finitetimespace.com"
              >hi@finitetimespace.com</a
            >
          </li>
        </ul>

        <p class="text-right">👈 Contact Us</p>
      </section>
      <footer class="fixed bottom-0 mx-auto w-full text-center py-4">
        <hr class="py-1" />
        Copyright © 2024 Finite Timespace LLC
      </footer>
    </main>
  </body>
</html>
