---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Contact Us - Finite Timespace</title>
  </head>
  <body>
    <main>
      <section class="p-8 flex flex-col space-y-4">
        <h1 class="text-4xl font-medium">Contact Us</h1>
        <ul class="text-left list-disc">
          <li>Calls: +351 914 176 371</li>
          <li>
            Email: <a href="mailto:hi@finitetimespace.com"
              >hi@finitetimespace.com</a
            >
          </li>
        </ul>
      </section>
      <footer class="fixed bottom-0 mx-auto w-full text-center py-4">
        <hr class="py-1" />
        Copyright © 2024 Finite Timespace LLC
      </footer>
    </main>
  </body>
</html>
